.env
node_modules
.next
dist
coverage
*.log
backend/node_modules
web/node_modules


.env
.env.*
!.env.example

node_modules/
.next/
dist/
build/

*.log
.DS_Store

# Prisma
backend/prisma/dev.db
backend/prisma/*.db

# Caddy data (если добавлял)
caddy_data/
caddy_config/

# SSH keys (на всякий)
**/.ssh/
id_ed25519
id_ed25519.pub